.main-window {width: 800px;}
#vultr-account {height: 110px;}
.divblock {border-style: ridge;margin-bottom: 15px;}
.tabheadimg {width: 35px; height:35px;}
.dashboard-image {width: 50px; height:50px;}
#save_settings {
    background-color: #3b5099; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}